@model List<colectare_date.Models.Colectare>

@{
    ViewData["Title"] = "Harta Colectari";
}

<h2>HARTA COLECTARILOR DIN 15.10.2024</h2>
<div id="map""></div>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<script>
    var map = L.map('map').setView([45.79, 24.15], 13);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    @foreach (var c in Model)
    {
        <text>
                L.marker([@c.Latitudine.ToString(System.Globalization.CultureInfo.InvariantCulture), @c.Longitudine.ToString(System.Globalization.CultureInfo.InvariantCulture)])
                    .addTo(map)
                    .bindPopup("@c.Adresa <br>@c.TimpColectare.ToString("HH:mm:ss")");
        </text>
    }
</script>
