@{
    ViewData["Title"] = "Pagina Principala";
}

<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-md-6 text-center">
            <img src="~/images/pubela.png" class="img-fluid rounded shadow" alt="Pubela" style="max-height: 400px;" />
        </div>

        <div class="col-md-6 text-start">
            <h1 class="display-5 text-success fw-bold">Bun venit!</h1>
            <p class="lead mt-3">
                Platforma digitala pentru gestionarea eficienta a pubelelor si monitorizarea colectarilor.
            </p>
            <p>
                Proiectul combina tehnologia si responsabilitatea ecologica pentru o lume mai curata 🌍♻️
            </p>
        </div>
    </div>

    <hr class="my-5" />

    <div class="text-center">
        <h5>Proiect realizat de:</h5>
        <p>Ionescu Maria Magdalena</p>
        <p>Munteanu Eduard Constantin</p>
    </div>
</div>
