@{
    ViewData["Title"] = "Pagina Principala";
}

<div class="pagina-principala">
    <div class="continut-principal">
        <div class="imagine-principala">
            <img src="~/images/pubela.png" alt="Pubela"/>
        </div>

        <div class="text-principal">
            <h1 class="display-5 text-success fw-bold">Bun venit!</h1>
            <p class="descriere">
                Platforma digitala pentru gestionarea eficienta a pubelelor si monitorizarea colectarilor.
            </p>
            <p class="subdescriere">
                Proiectul combina tehnologia si responsabilitatea ecologica pentru o lume mai curata 🌍♻️
            </p>
            @if (Context.Session.GetString("admin") != "true")
            {
                <p class="info">Pentru a accesa functionalitatile aplicatiei, autentifica-te ca administrator.</p>
                <a class="btn btn-primary" asp-controller="Login" asp-action="Index">AUTENTIFICARE ADMIN</a>
            }
        </div>
    </div>
</div>
